<title>Camps Shop</title>
<%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="../public/styles/campgrounds.css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>
    </head>

    <body>
        <div class="hero-image" id="first">
            <div class="hero-text">
                <h1>Camp Shop</h1>
                <h4>Find, Post, Review Campgrounds For Free!</h4>
            </div>
        </div>
        <nav class="navbar">
            <div class="navbar-nav">
                <ul class="nav-item">

                    <li class="nav-link"><a href="/home"><i class="mx-4 fas fa-home"></i></a> </li>
                    <li class="nav-link"> <a href="/campgrounds"><i class="mx-4 fas fa-campground"></i></a></li>
                    <li class="nav-link"> <a href="/campgrounds/new"><i class="mx-4 fas fa-map-marked-alt"></i></a></li>
                    <% if(!activeUser){ %>
                        <li class="nav-link"> <a href="/login"><i class="mx-4 fas fa-user-check"></i></a></li>
                        <li class="nav-link"> <a href="/Signup"><i class="mx-4 fas fa-user-plus"></i></a></li>
                        <% }else{ %>
                            <li class="nav-link"><a href="/Logout"><i class="mx-4 fas fa-sign-out-alt"></i></a></li>
                            <li class="nav-link"> <a href="/Signout"><i class="mx-4 fas fa-user-minus"></i></a></li>
                            <% } %>
                                <li class="nav-link">
                                    <a href="#first"> <i class="mx-4 fas fa-arrow-up"></i></a>
                                </li>


                </ul>
            </div>
        </nav>

        <main>

            <div class="mx-5 flashMsg">
                <%- include('./partials/flashMsg.ejs') %>
            </div>
            <div class="search-box">
                <form class="search-section" action="/campgrounds/search" method="POST">
                    <input type="text" placeholder="Search By Place" name="searchedInput" id="searchedInput" autofocus>
                    <i id="searchIcon" class="fas fa-search "></i>
                </form>
            </div>
            <div class="map-box my-5">
                <i id="mapToggler" class="fas fa-map-marker-alt"></i>
                <div id='map'></div>
            </div>
            <div class="scrollDown-box my-5">
                <a href="#last"><i id="scrollDown" class="fas fa-arrow-down"></i></a>
            </div>

            <div class="row pt-5">
                <% for(let campground of campgrounds) {%>
                    <div class="col-xs-6 col-lg-4 ">
                        <div class="card my-5 shadow-lg p-3  mb-5 bg-body rounded" style="width: 18rem; height: 20rem;">
                            <img src=" <%= campground.image.url %>  " class="card-img-top img-thumbnail img-fluid">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%=campground.title %>
                                </h5>
                                <p class="card-text text-muted">
                                    <%= campground.location %>
                                </p>
                                <a href="/campgrounds/<%= campground._id %>" class="btn btn-outline-success btn-sm mb-1 ">
                                    <%= campground.title %>
                                </a>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </main>
        <div id="last"></div>
        <div class="bottumPage">
            <a href="/home"><i class="mx-4 fas fa-home"></i></a>
            <a href="/campgrounds"><i class="mx-4 fas fa-campground"></i></a>
            <a href="/campgrounds/new"><i class="mx-4 fas fa-map-marked-alt"></i></a>
            <% if(!activeUser){ %>
                <a href="/login"><i class="mx-4 fas fa-user-check"></i></a>
                <a href="/Signup"><i class=" mx-4 fas fa-user-plus"></i></a>
                <% }else{ %>
                    <a href="/Logout"><i class="mx-4 fas fa-sign-out-alt"></i></a>
                    <a href="/Signout"><i class=" mx-4 fas fa-user-minus"></i></a>
                    <% } %>
                        <a href="#first"> <i class="fas fa-arrow-up"></i></a>
        </div>
    </body>

    <script>
        const mapToken = '<%- process.env.mapbox_token %>'
        const campgrounds = {
            features: <%- JSON.stringify(campgrounds)%>
        }
    </script>
    <script src="/public/scripts/clusterMapScripts.js"></script>
    <%- include('./partials/buttom.ejs') %>