<title>

    About This Camp</title>
<%- include('./partials/head.ejs') %>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />

    <link rel="stylesheet" href="/public/styles/stars.css">
    <link rel="stylesheet" href="/public/styles/theCampground.css">
    </head>

    <body>


        <%- include('./partials/navbar.ejs') %>
            <%- include('./partials/flashMsg.ejs') %>
                <div class="map-box my-5">
                    <button id="mapToggler"><i class="fas fa-map-marker-alt"></i></button>
                    <div id='map'></div>
                </div>
                <div class="row">

                    <div id="theCampShowcase" class="col-xs-6 col-md-4  mx-2 card my-5 shadow-lg p-3  mb-5 bg-body rounded" style="width: 24rem; height: 30rem;">
                        <img src=" <%= theCampground.image.url %>  " class="card-img-top img-fluid">
                        <div class="card-body">
                            <h4 class="card-title">
                                <%= theCampground.title %>
                                    </h3>
                                    <h5>$
                                        <%= theCampground.price %> /night
                                    </h5>
                                    <h6 class="text-muted">
                                        <%= theCampground.location %>
                                    </h6>
                                    <p class="card-text">
                                        Description:
                                        <%= theCampground.description %>
                                    </p>

                                    <% if(activeUser && activeUser._id.equals(theCampground.author)){ %>
                                        <a class="btn btn-outline-info my-3" href="/campgrounds/<%= theCampground._id %>/edit">  Edit Camp  </a>
                                        <a class="btn btn-outline-info my-3" href="/campgrounds">All Camps  </a>
                                        <form class="d-inline" action="/campgrounds/<%= theCampground._id %>?_method=DELETE" method="POST">
                                            <button class="btn btn-outline-danger my-3">Delete</button>
                                        </form>
                                        <% } %>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 mx-2  card my-5 shadow-lg p-3  mb-5 bg-body rounded" id="postReviewForm" style="width: 24rem; height: 30rem;">
                        <div class="card-body">
                            <div class="card-title">
                                <h5><strong>Leave a Review</strong></h5>
                            </div>
                            <form class="form-groupe" action="/campgrounds/<%= theCampground._id %>/reviews/new" method="post">
                                <label for="rate1"><b>Mark/5:</b></label>
                                <br>
                                <br>

                                <input class="input-range" type="range" min="0" max="5" name="review[rating]" id="rangeRating" style="width: 150px;" required>

                                <section id="starsRating">
                                    <div class="col-3 ">
                                        <fieldset class="starability-checkmark">
                                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />

                                            <input type="radio" id="rate1" name="review[rating]" value="1" />
                                            <label for="rate1">1 star.</label>

                                            <input type="radio" id="rate2" name="review[rating]" value="2" />
                                            <label for="rate2">2 stars.</label>

                                            <input type="radio" id="rate3" name="review[rating]" value="3" />
                                            <label for="rate3">3 stars.</label>

                                            <input type="radio" id="rate4" name="review[rating]" value="4" />
                                            <label for="rate4">4 stars.</label>

                                            <input type="radio" id="rate5" name="review[rating]" value="5" />
                                            <label for="rate5">5 stars.</label>

                                            <span class="starability-focus-ring"></span>
                                        </fieldset>

                                    </div>
                                </section>
                                <div class="mb-3">
                                    <br>
                                    <label class="form-label" for="review[reviewBody]"><b>What You Think?</b></label>
                                    <textarea class="form-control" name="review[reviewBody]" id="review[reviewBody]" cols="60" rows="3" placeholder="Tell us more about this camp!" autofocus></textarea>
                                </div>
                                <button class="btn btn-outline-success my-3 ">Post</button>

                            </form>

                        </div>
                    </div>

                </div>
                <% for(let review of theCampground.reviews){ %>
                    <div class="col-6  card my-5 mx-3 shadow-lg p-3  bg-body rounded reviews" style="height: auto;">

                        <div class="card-body">
                            <h5>Mark/5 :

                                <p id="rangeRatingResult">
                                    <%= review.rating %>

                                </p>

                                <p id="starsRatingResult" class="starability-result" data-rating=<%=review.rating %>>
                                </p>
                            </h5>
                            <p>
                                <h6>Review Text :</h6>
                                <%= review.reviewBody %>
                            </p>
                        </div>
                        <% if(activeUser && activeUser._id.equals(review.owner)){%>
                            <div class="mb-3 ms-3">
                                <form action="/campgrounds/<%= theCampground._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                                    <button class="btn btn-outline-danger">Delete</button>
                                </form>
                            </div>
                            <% } %>
                    </div>
                    <% } %>
                        </div>


    </body>
    <script>
        let rangeRating = document.getElementById('rangeRating')
        let starsRating = document.getElementById('starsRating')
        if (screen.width > 600) {
            rangeRating.remove()
        } else {
            starsRating.remove()
        }
    </script>
    <script>
        const mapToken = '<%- process.env.mapbox_token %>';
        const campCoordinates = <%-JSON.stringify(theCampground.geoLocationCode.coordinates) %>
    </script>

    <script src="/public//scripts/mapboxScripts.js"></script>

    <%- include('./partials/buttom.ejs') %>