<title>

    About This Camp</title>
<%- include('./partials/head.ejs') %>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />

    <link rel="stylesheet" href="/public/styles/stars.css">
    <link rel="stylesheet" href="/public/styles/theCampground.css">
    </head>

    <body>


        <%- include('./partials/navbar.ejs') %>
            <%- include('./partials/flashMsg.ejs') %>
                <div class="map-box my-5">
                    <i id="mapToggler" class="fas fa-map-marker-alt"></i>
                    <div id='map'></div>
                </div>
                <div class="row">
                    <% console.log(theCampground.image.thumbnail) %>
                        <div id="theCampShowcase" class="col-xs-6 col-md-4  mx-2 card my-5 shadow-lg p-3  mb-5 bg-body rounded" style="width: 24rem; height: 35rem;">
                            <img src=" <%= theCampground.image.thumbnail %>  " class="card-img-top img-fluid img-thumbnail">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Camp Name:
                                    <%= theCampground.title %>
                                </h5>

                                <h6><b> For just : $
                                <%= theCampground.price %> /night</b>
                                </h6>
                                <details class="text-muted">
                                    <h6>Camp Location :
                                        <%= theCampground.location %>
                                    </h6>
                                    <p class="card-text">
                                        Camp Description:
                                        <%=theCampground.description.substring(0,120)%>...
                                    </p>
                                </details>

                                <% if(activeUser && activeUser._id.equals(theCampground.author)){ %>
                                    <a class="btn btn-outline-info mt-2 mb-1" href="/campgrounds/<%= theCampground._id %>/edit">  Edit Camp  </a>
                                    <a class="btn btn-outline-info mt-2 mb-1" href="/campgrounds">All Camps  </a>
                                    <form class="d-inline" action="/campgrounds/<%= theCampground._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-outline-danger mt-2 mb-1">Delete</button>
                                    </form>
                                    <% } %>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-4 mx-2  card my-5 shadow-lg p-3  mb-5 bg-body rounded" id="postReviewForm" style="width: 24rem; height: 35rem;">
                            <div class="card-body">
                                <div class="card-title">
                                    <h5><strong>Leave a Review</strong></h5>
                                </div>
                                <form class="form-groupe" action="/campgrounds/<%= theCampground._id %>/reviews/new" method="post">
                                    <label for="rate1"><b>Mark/5:</b></label>
                                    <br>
                                    <br>


                                    <section id="starsRating">
                                        <div class="col-3 ">
                                            <fieldset class="starability-checkmark">
                                                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />

                                                <input type="radio" id="rate1" name="review[rating]" value="1" />
                                                <label for="rate1">1 star.</label>

                                                <input type="radio" id="rate2" name="review[rating]" value="2" />
                                                <label for="rate2">2 stars.</label>

                                                <input type="radio" id="rate3" name="review[rating]" value="3" />
                                                <label for="rate3">3 stars.</label>

                                                <input type="radio" id="rate4" name="review[rating]" value="4" />
                                                <label for="rate4">4 stars.</label>

                                                <input type="radio" id="rate5" name="review[rating]" value="5" />
                                                <label for="rate5">5 stars.</label>

                                                <span class="starability-focus-ring"></span>
                                            </fieldset>

                                        </div>
                                    </section>
                                    <div class="mb-3">
                                        <br>
                                        <label class="form-label" for="review[reviewBody]"><b>What You Think?</b></label>
                                        <textarea class="form-control" name="review[reviewBody]" id="review[reviewBody]" cols="60" rows="3" placeholder="Tell us more about this camp!" autofocus></textarea>
                                    </div>
                                    <button class="btn btn-outline-success my-3 ">Post</button>

                                </form>

                            </div>
                        </div>

                </div>
                <main class="d-flex justify-content-center align-items-center mb-3">
                    <% for(let review of theCampground.reviews){ %>
                        <div class="row  shadow-lg p-3  bg-body rounded reviews">

                            <div class="col-xs-6 col-md-3 ">
                                <img id="avatarImg" src="https://res.cloudinary.com/https-res-cloudinary-com-massigy-images/image/upload/v1619887318/CampShop/AdminPictures/avatar2_u50b3j.png" alt="">
                                <strong class="ms-3">  <%= review.owner.username %></strong>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <p id="starsRatingResult" class="starability-result" data-rating=<%=review.rating %>>
                                </p>
                                <p>
                                    <h6>Review Text :</h6>
                                    <%= review.reviewBody %>
                                </p>
                            </div>
                            <% if(activeUser && activeUser._id.equals(review.owner)){%>
                                <div class="mb-3 ms-3">
                                    <form action="/campgrounds/<%= theCampground._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                                        <button class="btn btn-outline-danger">Delete</button>
                                    </form>
                                </div>
                                <% } %>
                        </div>
                        <% } %>

                </main>
    </body>
    <script>
        const mapToken = '<%- process.env.mapbox_token %>';
        const campCoordinates = <%-JSON.stringify(theCampground.geometry.coordinates) %>
    </script>

    <script src="/public//scripts/mapboxScripts.js"></script>

    <%- include('./partials/buttom.ejs') %>