<title>

    About This Camp</title>
<link rel="stylesheet" href="/public/styles/theCampground.css">
<%- include('./partials/head.ejs') %>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />

    <link rel="stylesheet" href="/public/styles/stars.css">
    </head>

    <body>


        <%- include('./partials/navbar.ejs') %>
            <%- include('./partials/flashMsg.ejs') %>
                <div class="map-box my-5">
                    <i id="map-box__toggler" class="fas fa-map-marker-alt"></i>
                    <div class="map-box__map" id='map'></div>
                </div>
                <div class="row">
                    <div id="theCampShowcase" class="col-xs-6 col-md-4  mx-2 card my-5 shadow-lg p-3  mb-5 bg-body rounded">
                        <img src=" <%= theCampground.image?.thumbnail %>  " class="card-img-top img-fluid img-thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">
                                Camp Name:
                                <%= theCampground.title %>
                            </h5>

                            <h5> For just : $
                                <%= theCampground.price %> /night
                            </h5>
                            <details class="text-muted">
                                <p>Camp Location :
                                    <%= theCampground.location %>
                                </p>
                                <p class="card-text">
                                    Camp Description:
                                    <%=theCampground.description.substring(0,80)%>...
                                </p>
                            </details>

                            <% if(activeUser && activeUser._id.equals(theCampground.author)){ %>
                                <a class="btn btn-outline-info mt-2 mb-1" href="/campgrounds/<%= theCampground._id %>/edit">  Edit Camp  </a>
                                <a class="btn btn-outline-info mt-2 mb-1" href="/campgrounds">All Camps  </a>
                                <form class="d-inline" action="/campgrounds/<%= theCampground._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-outline-danger mt-2 mb-1">Delete</button>
                                </form>
                                <% } %>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 mx-2  card my-5 shadow-lg p-3  mb-5 bg-body rounded" id="postReviewForm">
                        <div class="card-body mt-5">
                            <div class="card-title">
                            </div>
                            <form class="form-groupe" action="/campgrounds/<%= theCampground._id %>/reviews/new" method="post">
                                <h1 class="mb-5">Feedback Us!</h1>

                                <section id="starsRating">
                                    <div class="col-3 ">
                                        <fieldset class="starability-checkmark">
                                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />

                                            <input type="radio" id="rate1" name="review[rating]" value="1" />
                                            <label for="rate1">1 star.</label>

                                            <input type="radio" id="rate2" name="review[rating]" value="2" />
                                            <label for="rate2">2 stars.</label>

                                            <input type="radio" id="rate3" name="review[rating]" value="3" />
                                            <label for="rate3">3 stars.</label>

                                            <input type="radio" id="rate4" name="review[rating]" value="4" />
                                            <label for="rate4">4 stars.</label>

                                            <input type="radio" id="rate5" name="review[rating]" value="5" />
                                            <label for="rate5">5 stars.</label>

                                            <span class="starability-focus-ring"></span>
                                        </fieldset>

                                    </div>
                                </section>
                                <div class="mb-3">
                                    <textarea class="form-control" name="review[reviewBody]" id="review[reviewBody]" cols="60" rows="3" placeholder="Tell us more about this camp!" autofocus></textarea>
                                </div>
                                <button class="btn btn-outline-success btn-lg mt-5 ">Post</button>

                            </form>

                        </div>
                    </div>

                </div>

                <main class=" mb-3">
                    <% if(theCampground.reviews?.length >0){ %>
                        <h5 class="text-center my-5">Camp Reviews:</h5>
                        <% } %>
                            <% for(let review of theCampground.reviews){ %>
                                <div class="row mb-4  shadow-lg p-3  bg-body rounded reviews">

                                    <div class="col-xs-6 col-md-4 ">
                                        <img id="avatarImg" src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png" alt="">
                                        <br>
                                        <strong class="ms-3">  <%= review?.owner?.username %></strong>
                                    </div>

                                    <div class="col-xs-6 col-md-4">
                                        <br>
                                        <p id="starsRatingResult" class="starability-result" data-rating=<%=review.rating %>>
                                        </p>
                                        <p>
                                            <h6>Review Text :</h6>
                                            <%= review?.reviewBody %>
                                        </p>

                                        <% if(activeUser && activeUser._id.equals(review?.owner?._id)){%>
                                            <div>
                                                <form action="/campgrounds/<%= theCampground._id %>/reviews/<%= review?._id %>?_method=DELETE" method="post">
                                                    <button class="btn btn-outline-danger">Delete</button>
                                                </form>
                                            </div>
                                            <% } %>
                                    </div>

                                </div>
                                <% } %>

                </main>
    </body>
   

    <script src="/public/scripts/mapboxScripts.js"></script>

    <%- include('./partials/buttom.ejs') %>